{% extends 'base.html' %}
{% block content %}
  <h1 class='text-center mt-4'>--- Madagascar Stone ---</h1>
  <div class="container mt-6">
      <div class="row mt-3">
          {% for article in liste_articles %}
          <div class="card col-12 col-md-6 col-lg-3 col-xl-3">
              <img src="{{ article.image.url }}" class="card-img-top" alt="Fissure in Sandstone" style="height: 180px"/>
              <div class="card-body" style="height: 225px">
                  <h5 class="card-title">{{ article.title }}</h5>
                  <p class="card-text">{{ article.desc|truncatewords:5 }}</p>
                  <p class="card-text">Publié il y a {{ article.created_at|timesince }}</p>
                  <a href="{% url 'detail' article.id %}" class="btn btn-danger" data-mdb-ripple-init>EN SAVOIR PLUS</a>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>
{% endblock %}
