{% extends "base.html"%} 
{% block content%}
<nav class="navbar navbar-light bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <a class="navbar-brand">Home</a>
    <a class="navbar-brand">Features</a>
    <a class="navbar-brand">Pricing</a>
    <div class="dropdown">
      <button
        class="btn btn-danger dropdown-toggle"
        type="button"
        id="dropdownMenu2"
        data-mdb-dropdown-init
        data-mdb-ripple-init
        aria-expanded="false"
      >
        Dropdown
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" type="button">Action</button></li>
        <li>
          <button class="dropdown-item" type="button">Another action</button>
        </li>
        <li>
          <button class="dropdown-item" type="button">
            Something else here
          </button>
        </li>
      </ul>
    </div>
    <form class="d-flex input-group w-auto">
      <input
        type="search"
        class="form-control rounded"
        placeholder="Search"
        aria-label="Search"
        aria-describedby="search-addon"
      />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </form>
  </div>
</nav>
{% endblock %}
